<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="tp6">
    <display-name>Systeme de gestion de cinematheque (TP6)</display-name>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
      <servlet-name>jsp</servlet-name>
      <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
      <init-param>
          <param-name>fork</param-name>
          <param-value>false</param-value>
      </init-param>
      <init-param>
          <param-name>xpoweredBy</param-name>
          <param-value>false</param-value>
      </init-param>
      <init-param>
          <param-name>javaEncoding</param-name>
          <param-value>ISO-8859-1</param-value>
      </init-param>
      <load-on-startup>3</load-on-startup>
    </servlet>
    <listener>
      <listener-class>tp6Servlet.Tp6SessionListener</listener-class>
      <listener-class>tp6Servlet.Tp6ContextListener</listener-class>
    </listener>
    <servlet>
      <servlet-name>Login</servlet-name>
      <servlet-class>tp6Servlet.Login</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>Menu</servlet-name>
      <servlet-class>tp6Servlet.Menu</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>AjouterActeurEpisode</servlet-name>
      <servlet-class>tp6Servlet.AjouterActeurEpisode</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>AjouterActeurFilm</servlet-name>
      <servlet-class>tp6Servlet.AjouterActeurFilm</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>AjouterDescFilm</servlet-name>
      <servlet-class>tp6Servlet.AjouterDescFilm</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>AjouterEpisode</servlet-name>
      <servlet-class>tp6Servlet.AjouterEpisode</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>AjouterFilm</servlet-name>
      <servlet-class>tp6Servlet.AjouterFilm</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>AjouterPersonne</servlet-name>
      <servlet-class>tp6Servlet.AjouterPersonne</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>AjouterSerie</servlet-name>
      <servlet-class>tp6Servlet.AjouterSerie</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>ListerActeurFilm</servlet-name>
      <servlet-class>tp6Servlet.ListerActeurSerie</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>ListerActeurSerie</servlet-name>
      <servlet-class>tp6Servlet.ListerActeurSerie</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>ListerFilmActeur</servlet-name>
      <servlet-class>tp6Servlet.ListerFilmActeur</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>ListerSerieActeur</servlet-name>
      <servlet-class>tp6Servlet.ListerSerieActeur</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>SupprimerFilm</servlet-name>
      <servlet-class>tp6Servlet.SupprimerFilm</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>SupprimerPersonne</servlet-name>
      <servlet-class>tp6Servlet.SupprimerPersonne</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>Logout</servlet-name>
      <servlet-class>tp6Servlet.Logout</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>Login</servlet-name>
      <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Menu</servlet-name>
      <url-pattern>/Menu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>AjouterActeurEpisode</servlet-name>
      <url-pattern>/AjouterActeurEpisode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>AjouterActeurFilm</servlet-name>
      <url-pattern>/AjouterActeurFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>AjouterEpisode</servlet-name>
      <url-pattern>/AjouterEpisode</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>AjouterFilm</servlet-name>
      <url-pattern>/AjouterFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>AjouterPersonne</servlet-name>
      <url-pattern>/AjouterPersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>AjouterSerie</servlet-name>
      <url-pattern>/AjouterSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>ListerActeurFilm</servlet-name>
      <url-pattern>/ListerActeurSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>ListerActeurSerie</servlet-name>
      <url-pattern>/ListerActeurSerie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>ListerFilmActeur</servlet-name>
      <url-pattern>/ListerFilmActeur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>ListerSerieActeur</servlet-name>
      <url-pattern>/ListerSerieActeur</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>SupprimerFilm</servlet-name>
      <url-pattern>/SupprimerFilm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>SupprimerPersonne</servlet-name>
      <url-pattern>/SupprimerPersonne</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>Logout</servlet-name>
      <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
</web-app>
